{% extends 'core/base.html' %}


<!--  -->
{% block title %}
  {{ item.name }}
{% endblock %}


<!-- content block -->
{% block content %}
  <div class="flex gap-4 max-md:flex-col">
    <aside class="md:sticky top-16 left-0 pt-2 w-[60%] max-md:w-[100%] max-md:h-[350px] md:h-[500px]">
      <img class="rounded w-full h-full object-cover md:max-h-[400px]" src="{{ item.image.url }}" alt="{{ item.name }}-image">
    </aside>
    <!--  -->
    <section class="w-[40%] py-2 text-lg flex flex-col gap-y-3 text-neutral-900 max-md:w-[100%]">
      <h2 class="relative flex items-center justify-center text-neutral-700 font-bold py-2 mb-3 text-3xl">
        {{ item.name }}
        {% if request.user != item.created_by %}
          {% if request.user.is_authenticated and not user_item_cart %}
            <a href="{% url 'item:detail' item.id 'add_to_cart' %}" class="group/cart absolute right-2 top-14 flex flex-col items-center justify-center text-sm rounded">
              <i class="fa-solid fa-cart-shopping text-lg"></i>
              <span class="text-xs group-hover/cart:underline group-hover/cart:decoration-4 group-hover/cart:underline-offset-4 group-hover/cart:decoration-blue-500">Add to cart</span>
            </a>
          {% elif request.user.is_authenticated and user_item_cart %}
            <a href="{% url 'item:detail' item.id 'remove_from_cart' %}" class="group/cart absolute right-2 top-14 flex flex-col items-center justify-center text-sm rounded">
              <i class="fa-solid fa-cart-shopping text-lg"></i>
              <span class="text-xs group-hover/cart:underline group-hover/cart:decoration-4 group-hover/cart:underline-offset-4 group-hover/cart:decoration-red-500">Remove from cart</span>
            </a>
          {% endif %}
        {% endif %}
      </h2>
      <p>
        <span class="font-bold">Seller: </span>
        {% if request.user == item.created_by %}
          <span class="font-bold text-blue-800">You own this item</span>
        {% else %}
          <span>{{ item.created_by }}</span>
        {% endif %}
      </p>

      <p>
        <span class="font-bold">Category: </span>
        <span>{{ item.category }}</span>
      </p>

      <p>
        <span class="font-bold">Price: </span>
        <span>${{ item.price }}</span>
      </p>

      <p>
        <span class="font-bold">In stock: </span>
        <span>{{ item.stock }}</span>
      </p>

      {% if item.description %}
        <p>
          <span class="font-bold">Description: </span>
          <span>{{ item.description }}</span>
        </p>
      {% endif %}

      {% if request.user.is_authenticated %}
        {% if request.user == item.created_by %}
          <div class="flex gap-y-2 gap-x-4 flex-wrap mt-4">
            <a href="{% url 'item:edit' item.id %}" class="grow text-xl font-semibold px-4 py-2 bg-green-500 text-neutral-100 rounded hover:bg-green-500/90 border-b-4 border-green-800 flex items-center justify-center gap-1"><i class="fa-solid fa-pen-to-square"></i> Edit Item</a>
            <button id="delete-item" class="grow text-xl font-semibold px-4 py-2 bg-red-500 text-red-800 rounded hover:bg-red-500/90 border-b-4 border-red-800"><i class="fa-solid fa-trash"></i> Delete Item</button>
          </div>
        {% else %}
          <a href="{% url 'converse:new' item.id %}" class="mt-4 text-xl font-semibold px-4 py-2 bg-blue-500 text-blue-100 rounded hover:bg-blue-500/90 border-b-4 border-blue-800 flex items-center justify-center gap-1"><i class="fa-solid fa-comments"></i> Message Seller</a>
        {% endif %}
      {% else %}
        <p class="border-y-2 border-neutral-700 py-2 flex items-center gap-2">
          <span>❌</span>
          <span>
            Please <a href="{% url 'core:login' %}" class="font-semibold text-blue-600">Log in</a>, if you want to <span class="underline underline-offset-2 decoration-2">message seller</span> or <span class="underline underline-offset-2 decoration-2">rate this item</span>
          </span>
        </p>
      {% endif %}
    </section>
  </div>

  <!-- item rating | show only if user is authenticated -->
  {% if request.user.is_authenticated %}
    {% if item_ratings %}
      <div class="my-5 mb-8">
        <h2 class="w-full flex items-center border-b-2 border-neutral-800 pb-1 text-3xl font-bold text-neutral-800">Item Ratings</h2>

        <p class="flex flex-col items-end justify-center">
          <span>
            Showing <span class="font-bold">{% if item_ratings_count < 2 %} {{ item_ratings_count }} {% else %} 2 {% endif %}</span> out of <span class="font-bold">{{ item_ratings_count }}</span> rating{{ item_ratings_count|pluralize}}
          </span>
          <a href="{% url 'item:reviews' item.id %}" class="px-2 py-1 bg-blue-500 rounded hover:bg-blue-500/80 flex items-center justify-center gap-1 text-neutral-200 font-semibold">See more / Rate this item <i class="fa-solid fa-arrow-right"></i></a>
        </p>

        <section>
          {% for item_rating in item_ratings %}
            <article class="my-3 mb-5">
              <h3 class="font-bold text-2xl">
                <a href="{% url 'dashboard:other_user_profile' item_rating.created_by.username %}" class="decoration-2 underline-offset-2 hover:underline">
                  {{ item_rating.created_by.username }}
                </a>
              </h3>
              <!-- rate -->
              <p class="flex items-center gap-x-1">
                {% for _ in ''|ljust:'5' %}
                  {% if forloop.counter <= item_rating.rate %}
                    <svg class="w-4 h-4 text-yellow-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                  {% else %}
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                  {% endif %}
                {% endfor %}
                <span class="ml-1">{{ item_rating.modified_at|date:"SHORT_DATE_FORMAT" }}</span>
              </p>

              <p class="mt-1">{{ item_rating.description }}</p>
            </article>
          {% endfor %}
        </section>
      </div>
    {% else %}
      <div class="my-5 mb-8 min-h-[200px]">
        <h2 class="w-full flex items-center border-b-2 border-neutral-800 pb-1 text-3xl font-bold text-neutral-800">Item Ratings</h2>

        <p class="px-4 mt-3 h-full flex flex-col items-center justify-center gap-y-3">
          <span class="text-center font-semibold text-3xl">
            Unfortunately, this Item has not been rated yet. Be the first to rate this item.
          </span>
          {% if request.user == item.created_by %}
            <span class="text-center">❌ Please note that, you can't rate an item you own
              <a href="{% url 'item:reviews' item.id %}" class="px-2 py-1 bg-blue-500 rounded hover:bg-blue-500/80 flex items-center justify-center gap-1 text-neutral-200 font-semibold">Check out all ratings <i class="fa-solid fa-arrow-right"></i></a>
            </span>
          {% else %}
            <a href="{% url 'item:reviews' item.id %}" class="px-2 py-1 bg-blue-500 rounded hover:bg-blue-500/80 flex items-center justify-center gap-1 text-neutral-200 font-semibold">Rate this item <i class="fa-solid fa-arrow-right"></i></a>
          {% endif %}
        </p>
      </div>
    {% endif %}
  {% endif %}

  <aside class="group w-[100%] my-4 mb-8">
    <div class="pt-3 overflow-auto text-neutral-100 bg-neutral-900 rounded [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-track]:bg-neutral-900 [&::-webkit-scrollbar-track]:rounded-r [&::-webkit-scrollbar-thumb]:bg-neutral-900 [&::-webkit-scrollbar-thumb]:rounded-md group-hover:[&::-webkit-scrollbar-thumb]:bg-neutral-400">
      <h2 class="flex items-center justify-center text-neutral-400 font-bold py-2 text-3xl mb-3">Related Items</h2>
      <div class="px-2 pb-8 overflow-x-auto gap-x-4 flex flex-nowrap [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-track]:bg-neutral-900 [&::-webkit-scrollbar-track]:rounded-r [&::-webkit-scrollbar-thumb]:bg-neutral-900 [&::-webkit-scrollbar-thumb]:rounded-md group-hover:[&::-webkit-scrollbar-thumb]:bg-neutral-400">
        {% if related_items %}
          {% for related_item in related_items %}
            <div class="grow shrink-0 relative group/item w-[300px] bg-neutral-800 rounded">
              <a href="{% url 'item:detail' related_item.id %}" class="">
                <img class="rounded-t w-full h-[200px] object-cover" src="{{ related_item.image.url }}" alt="{{ related_item.name }}-image" />
                <h4 class="px-2 py-2 flex items-center justify-between gap-x-3" title="{{ related_item.name }}">
                  <span class="w-[60%] text-2xl font-bold tracking-tight whitespace-nowrap overflow-hidden text-ellipsis">{{ related_item.name }}</span>
                  <span class="w-[40%] italic text-sm whitespace-nowrap overflow-hidden text-ellipsis">{{ related_item.stock }} {% if related_item.stock == 1 %}item{% else %}items{% endif %} in stock</span>
                </h4>
                <p class="px-4 py-1 bg-blue-900 text-neutral-200 rounded-b rounded-t-2xl font-bold group-hover/item:bg-blue-700 border-t-4 border-blue-600 transition-all">
                  <span>Price:</span>
                  <span>${{ related_item.price }}</span>
                </p>
              </a>
              <!-- seller -->
              <a href="{% url 'dashboard:other_user_profile' related_item.created_by %}" class="absolute top-2 left-2 rounded-md font-semibold bg-neutral-800/60 text-neutral-100 flex items-center justify-center gap-x-2 px-2 py-1 text-sm hover:bg-neutral-800">
                <span>⭐</span>
                <span>BY: 
                  {% if request.user == related_item.created_by %}
                    You
                  {% else %}
                    {{ related_item.created_by }}
                  {% endif %}
                </span>
                <span>⭐</span>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p class="w-full flex items-center justify-center pb-8 text-3xl text-neutral-500 italic"><span class="text-blue-400">**</span>None<span class="text-blue-400">** </span>&nbsp;for this item</p>
        {% endif %}
      </div>
    </div>
  </aside>
{% endblock content %}


{% block notify %}
  <div id="notify" class="hidden fixed bottom-0 right-0 w-[50%] py-3 px-2 bg-orange-600 text-neutral-100 rounded-sm flex flex-col gap-y-4 items-center justify-center max-md:w-[100%]">
    <p class="font-semibold text-lg text-center">Are you sure you want to delete this Item? It will be deleted from every and any <span class="font-bold text-xl">cart</span> that holds it.</p>
    <div class="flex gap-3 flex-wrap">
      <button id="close-notify" class="bg-neutral-600 px-4 py-2 hover:bg-neutral-600/90 border-b-4 border-neutral-800 rounded font-semibold">No, Cancel</button>
      <a id="proceed-notify" href="{% url 'item:delete' item.id %}" class="bg-red-700 px-4 py-2 hover:bg-red-700/90 border-b-4 border-red-950 rounded font-semibold">Yes, Proceed</a>
    </div>
  </div>
{% endblock notify %}


<!-- bottom script -->
{% block bottom_app_script %}
  <script>
    let delete_item_btn = document.querySelector("#delete-item");
    let notify = document.querySelector("#notify");
    let close_notify_btn = document.querySelector("#close-notify");
    let proceed_notify_btn = document.querySelector("#proceed-notify");

    if(delete_item_btn) {
      delete_item_btn.addEventListener("click", () => {
        notify.classList.remove("hidden");
      });
    }

    close_notify_btn.addEventListener("click", () => {
      notify.classList.add("hidden");
    });

    proceed_notify_btn.addEventListener("click", () => {
      notify.classList.add("hidden");
    });
  </script>
{% endblock %}